html {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-greyish-magenta: hsl(303, 10%, 53%);
    --light-greyish-magenta: hsl(300, 24%, 96%);
}

body {
    font-family: 'League Spartan', sans-serif;
    background-image: url(./social-proof-section-master/images/bg-pattern-top-desktop.svg), url(./social-proof-section-master/images/bg-pattern-bottom-desktop.svg);
    background-position: left top, bottom right;
    background-repeat: no-repeat;
    background-size: 50%, 70%;
    background-color: var(--light-greyish-magenta);
}

main {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    width: 80vw;
    max-width: 60rem;
}

ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.main-section {
    display: flex;
    margin-bottom: 2rem;
}

.main-section section {
    width: 40%;
}

.main-section section h2 {
    color: var(--very-dark-magenta);
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

.main-section section p {
    color: var(--dark-greyish-magenta);
}

.rating-section {
    width: 50%;
}

.rating-section li:nth-child(1) {
    margin-left: 0;
}

.rating-section li:nth-child(2) {
    margin-left: 2rem;
}

.rating-section li:nth-child(3) {
    margin-left: 4rem;
}

.rating-box {
    display: flex;
    border-radius: 10px;
    align-items: center;
    width: 90%;
    background-color: white;
    justify-content: space-around;
    margin: 0.75rem;
    padding: 0.25rem 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.rating-box div {
    background-image: url(./social-proof-section-master/images/icon-star.svg);
    background-repeat: repeat-x;
    background-position: center;
    width: 5.2rem;
    height: 2rem;
    margin-right: 2rem;
}

.rating-box p {
    font-weight: 700;
    color: var(--very-dark-magenta);
}

.review-section ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.review-section li:nth-child(1) {
    margin-top: 0rem;
}

.review-section li:nth-child(2) {
    margin-top: 1rem;
}

.review-section li:nth-child(3) {
    margin-top: 2rem;
}

.review-list {
    background-color: var(--very-dark-magenta);
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 8px;
    color: white;
    height: 10.5rem;
}

.review-list section {
    display: flex;
    align-items: center;
}

.review-list img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.review-list div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2.5rem;
}

.review-list h3,
h4 {
    margin: 0;
}

.review-list h4 {
    color: var(--soft-pink);
    font-size: 1rem;
    font-weight: 400;
}

.review-list p {
    word-spacing: 2px;
    line-height: 1.25;
}

@media (max-width: 1000px) {
    main {
        width: 90vw;
        max-width: 37.5rem;
    }
    .main-section {
        flex-direction: column;
        text-align: center;
    }
    .main-section section {
        width: 100%;
    }
    .rating-section {
        width: 100vw;
        max-width: 35rem;
    }
    .rating-section li:nth-child(1) {
        margin: 0rem;
        margin-bottom: 1rem;
    }
    .rating-section li:nth-child(2) {
        margin: 0rem;
        margin-bottom: 1rem;
    }
    .rating-section li:nth-child(3) {
        margin: 0rem;
        margin-bottom: 1rem;
    }
    .rating-box {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .review-section ul {
        flex-direction: column;
    }
    .review-list {
        height: auto;
        margin: 0;
        padding: 2rem;
    }
}

@media (max-width: 600px) {
    .rating-section {
        width: 90vw;
    }
    .rating-box {
        width: 90%;
    }
}